/****** ---------------********/
/****** STOCK--SECTION ********/
/****** ---------------********/

.rating-container {
    background-color: #000;
    height: 100%;
}

.rating__title-stock .rating__title-item-transform h3{
    font-size: 46px;
}

.rating__title-item-transform:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: #8BD7FF;
    cursor: pointer;
}

.actions__cards-container {
     /* border-left: solid 1px rgba(255, 255, 255, 0.7); */
    margin-left: 77px;
    padding-right: 30px;
    /* padding-left: 112px; */
    max-width: 1620px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: start;
    /* padding: 20px; */
}

.actions__cards-item {
    width: 293px;
    height: 293px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 29px;
    border: solid 2px #000;
}

.actions__cards-item:hover {
    border: solid 2px #FFF;
}

.actions__img-1 {background-image: url('../images/actions/1.png');}
.actions__img-2 {background-image: url('../images/actions/2.png');}
.actions__img-3 {background-image: url('../images/actions/3.png');}
.actions__img-4 {background-image: url('../images/actions/4.png');}
.actions__img-5 {background-image: url('../images/actions/5.png');}
.actions__img-6 {background-image: url('../images/actions/6.png');}
.actions__img-7 {background-image: url('../images/actions/7.png');}
.actions__img-8 {background-image: url('../images/actions/8.png');}
.actions__img-9 {background-image: url('../images/actions/9.png');}
.actions__img-10 {background-image: url('../images/actions/10.png');}
.actions__img-11 {background-image: url('../images/actions/11.png');}
.actions__img-12 {background-image: url('../images/actions/12.png');}
.actions__img-13 {background-image: url('../images/actions/13.png');}
.actions__img-14 {background-image: url('../images/actions/14.png');}
.actions__img-15 {background-image: url('../images/actions/15.png');}
.actions__img-16 {background-image: url('../images/actions/16.png');}
.actions__img-17 {background-image: url('../images/actions/17.png');}
.actions__img-18 {background-image: url('../images/actions/18.png');}
.actions__img-19 {background-image: url('../images/actions/19.png');}
.actions__img-20 {background-image: url('../images/actions/20.png');}
.actions__img-21 {background-image: url('../images/actions/21.png');}
.actions__img-22 {background-image: url('../images/actions/22.png');}
.actions__img-23 {background-image: url('../images/actions/23.png');}
.actions__img-24 {background-image: url('../images/actions/24.png');}
