* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFF;
    /* background-color: #000; */
}

.warning {
    display: none;
}

body {

}

.wrapper {
    /* width: 100vw; */
    /* width: 1920px; */
    background-color: #000;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main-container {
    margin: 0 auto;
    max-width: 1920px;
}

/* SUB-HEAD */

.sub-head {
    display: flex;
    justify-content: flex-end;
    height: 77px;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    padding-top: 30px;
    padding-right: 366px;
}

.sub-head__link {
    color: #00B2FF;
    text-decoration: underline;
}

sub-head__link:hover,
sub-head__link:focus,
sub-head__link:active {
  color: #FFF;
  text-decoration: underline;
}

/* HEAD */

.head {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 486px;
    background: url('../images/bgpicture-5.png');
    background-repeat: no-repeat;
    /* background-position: left 614px center; */
    background-position: left calc(58%) center;
    background-size: auto;
}

.head__menu {
    display: flex;
    height: 30px;
    margin-left: 146px;
    /* background-color: transparent; */
}

.head__menu a {
    font-size: 20px;
    line-height: 150%;
    font-weight: 300;
    margin-right: 65px;
    text-decoration: none;
    /* background-color: transparent; */
}

.head__menu a:hover {
    text-decoration: underline;
}

.head__find {
    display: flex;
    justify-content: end;
    height: 28px;
    width: 100%;
    /* margin-left: 146px; */
    /* background-color: transparent; */
}

.head__find-content {
    display: flex;
    justify-content: end;
    width: 378px;
    margin-right: 122px;
    border-bottom: solid 1px #FF00DD;
    /* background-color: transparent; */
}

.custom-input {
    width: calc(100%);
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    color: #FFF;
    margin-bottom: 8px;
}

.custom-input::placeholder {
    color: #FFF;
    text-align: right;
}

.head__find-content img {
    background: transparent;
    margin: 0 18px 2px 18px;
}

.head__content {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    height: 100%;
    margin-left: 108px;
    border-left: solid 1px rgba(255, 255, 255, 0.7);
    /* background-color: transparent; */
}

.head__content-left {
    display: flex;
    flex-direction: column;
    /* background-color: transparent; */
    padding-left: 81px;
}

.head__line-1 {
    padding-top: 35px;
    margin-bottom: 14px;
    /* background-color: transparent; */
}

.head__line-1 .highlighted {
    text-decoration: underline;
    font-weight: 300;
    line-height: 150%;
    /* background-color: transparent; */
}

.head__line-1 img {
    margin-left: 4px;
    /* background-color: transparent; */
}

.tagline {
    font-size: 28px;
    font-weight: 300;
    line-height: 150%;
    color: #FFF;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    /* background-color: transparent; */
}

.head__line-2 {
    /* background-color: transparent; */
    margin-bottom: -5px;
}

.head__line-2 p{
    font-family: "Montserrat", sans-serif;
    /* font-size: clamp(2rem, 5vw, 4rem); */
    font-size: 63px;
    /* font-size: 4rem; */
    font-weight: 800;
    line-height: 120%;
    color: #FFF;
    /* background-color: transparent; */
    text-transform: uppercase;
}

.head__line-3 {
    /* background-color: transparent; */
}

.head__line-3 p {
    font-family: "Montserrat", sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 100%;
    color: transparent;
    -webkit-text-stroke: 1px #0045ff;
    font-family: sans-serif;
    letter-spacing: 0%;
    text-transform: uppercase;
    /* background-color: transparent; */
}

.head__content-right {
    width: 500px;
    display: flex;
    flex-direction: column;
    /* background-color: #DD74F8; */
    margin-top: 120px;
}

/* --------------------------------- */

.head__list {
    width: 265px;
    height: 72px;
    margin-right: 150px;
    margin-bottom: 32px;
    /* background-color: #00B2FF; */
}

.head__custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}
  
.head__item {
    position: relative;
    padding-left: 24px;
    margin-bottom: 1px;
    /* font-size: 18px; */
    /* color: white;  */
}
  
.head__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
}
  
  /* Цвета маркеров */
  .head__item.red::before {
    background-color: #DD74F8;
  }
  
  .head__item.blue::before {
    background-color: #FFEA00;
  }
  
  .head__item.green::before {
    background-color: #8BD7FF;
  }


/* --------------------------------- */
/* Временная заглушка */
/* .head__statistic {
    width: 253px;
    height: 134px;
    background: url('../images/tst.png')
} */
/* --------------------------------- */

.head__statistic {
    /* background-color: #8BD7FF; */
}

.statistic__container {
    display: flex;
    justify-content: center;
    width: 231px;
    height: 134px;
    padding-top: 13px;
    padding-left: 4px;
    background-color: rgba(0, 9, 16, 0.5);
}

.statistic__container-left {
    display: flex;
    flex-direction: column;
}

.statistic__container-right {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.statistic__container-first {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.0;
}

.statistic__container-second {
    font-size: 57px;
    font-weight: 300;
    line-height: 1.0;
    color: rgba(217, 217, 217, 0.2);
}

.left-digit {
    text-align: end;
}

.right-txt {
    margin-top: 10px;
    margin-left: 8px;
}








/* NEXT container */

.next {
    width: 1000px;
    height: 1px;
    background-color: #C4E4EA;
}

.hero {
    width: 100%;
    height: 400px;
    background-image: url('../images/bgpicture-437.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero h1 {
    color: white;
    font-size: 48px;
    background-color: transparent; /* <-- фон прозрачный */
    margin: 0;
  }

/****** ------------********/
/****** TOP--SLIDER ********/
/****** ------------********/

.top-slider {
    /* display: flex; */
    /* justify-content: space-between; */
    /* height: 100px; */
    /* background-color: #00B2FF; */
    margin-left: 108px;
    padding-left: 38px;
    padding-bottom: 30px;
    border-left: solid 1px rgba(255, 255, 255, 0.7);
}

.top-slider__head {
    margin-left: 81px;
}

.top-slider__head h3{
    font-weight: 300;
    font-size: 22px;
    line-height: 1.5;
    color: #DE75F9;
    text-transform: uppercase;
}

.top-slider__container {
    display: flex;
    justify-content: space-between;
    max-width: 1612px;
}

.top-slider__container-item {
    position: relative;
    width: 260px;
    height: 185px;
    /* border: solid 2px #FFEA00; */
    border: solid 2px #000;
    border-bottom: none;
    padding-top: 16px;
    padding-left: 20px;
}

.top-slider__container-item:hover {
    border: solid 2px #FFEA00;
    border-bottom: none;
}








.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFEA00;
    z-index: 1;
}

.yellow-triangle {
    position: absolute;
    bottom: 0; /* немного выше линии */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #FFEA00;
    z-index: 2;
}

.black-triangle {
    position: absolute;
    bottom: -3px; /* немного выше линии */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #000;
    z-index: 3;
}







.top-slider__container-item h3{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
}

.slider__item-1 {
    background-image: url('../images/top-slider/1.png');
    background-size: cover;
    background-position: center;
    padding-top: 115px;
}
.slider__item-1:hover, 
.slider__item-2:hover, 
.slider__item-3:hover, 
.slider__item-4:hover, 
.slider__item-5:hover, 
.slider__item-6:hover {
    cursor: pointer;
}
.slider__item-2 {
    background-image: url('../images/top-slider/2.png');
    background-size: cover;
    background-position: center;
}
.slider__item-3 {
    background-image: url('../images/top-slider/3.png');
    background-size: cover;
    background-position: center;
    padding-top: 115px;
}
.slider__item-4 {
    background-image: url('../images/top-slider/4.png');
    background-size: cover;
    background-position: center;
}
.slider__item-5 {
    background-image: url('../images/top-slider/5.png');
    background-size: cover;
    background-position: center;
    padding-top: 115px;
}
.slider__item-6 {
    background-image: url('../images/top-slider/6.png');
    background-size: cover;
    background-position: center;
}

/****** -------------------********/
/****** MARKETING--SECTION ********/
/****** -------------------********/

.marketing-section {
    max-width: 1650px;
    border-left: solid 1px rgba(255, 255, 255, 0.7);
    border-right: solid 1px rgba(255, 255, 255, 0.7);
    margin-left: 108px;
    padding-left: 38px;
    padding-right: 140px;
    /* padding-left: 38px; */
}

.marketing__head-container {
    height: 173px;
}

.marketing__footer-container {
    height: 155px;
}

.marketing__main-container {
    display: flex;
    justify-content: space-between;
    height: 365px;
    background-image: url('../images/home-quote-1.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 15px;    
}

.marketing__left {
    display: flex;
    flex-direction: column;
    max-width: 1128px;
    padding-top: 30px;
}

.marketing__left-title {
    /* font-size: 65px; */
    font-size: clamp(40px, calc(2.2vw + 10px), 65px);
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 35px;
}

.marketing__left-subtitle {
    /* font-size: 55px; */
    font-size: clamp(40px, calc(2.2vw + 10px), 55px);
    line-height: 1.0;
}

.marketing__left-subtitle h3 {
    font-weight: 400;
}

.marketing__left-subtitle h3 span {
    font-weight: 600;
}

.marketing__left-subtitle .pink-light {
    background-color: #FF00DD;
    padding: 15px 10px;
}

.marketing__right {
    padding-top: 138px;
}

.marketing__right-title {
    font-size: 20px;
    line-height: 1.25;
    text-align: end;
}

/* BOTTOMS */
.slider-bottoms {
    max-width: 1650px;
    height: 100px;
    border-left: solid 1px rgba(255, 255, 255, 0.7);
    border-right: solid 1px rgba(255, 255, 255, 0.7);
    margin-left: 108px;
    padding-left: 144px;
    padding-right: 140px;
    /* margin-bottom: -50px; */
}

.bottoms-container {
    width: 175px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.bottoms-container .prv {
    width: 45px;
    height: 45px;
    background-image: url('../images/main-slider/prev.png');
    cursor: pointer;
    /* opacity: 0.3; */
}

.bottoms-container .nxt {
    width: 45px;
    height: 45px;
    background-image: url('../images/main-slider/next.png');
    cursor: pointer;
    opacity: 1.0;
}

.best-text {
    /* border-left: solid 1px rgba(255, 255, 255, 0.7); */
    margin-left: 108px;
    margin-top: -165px;
    text-align: right;
}

.best-text h3{
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.05);
    font-weight: 800;
    font-size: 180px;
    line-height: 1.0;
    /* text-align: right; */

    /* margin-top: -50px; */
    z-index: 1;
}

/****** -------------********/
/****** MAIN--SLIDER ********/
/****** -------------********/

.for-slider {
    max-width: 1650px;
    height: 339px;
    border-left: solid 1px rgba(255, 255, 255, 0.7);
    border-right: solid 1px rgba(255, 255, 255, 0.7);
    margin-left: 108px;
    margin-top: -25px;
    /* background-color: #DD74F8; */

    margin-bottom: -339px;
}

.main-slider {
    overflow: hidden;
    display: flex;
    justify-content: end;
    max-width: 100%;
    height: 339px;
    margin-left: 108px;
    padding-left: 144px;
}

.wrapper-slider {
    display: flex;
    align-items: end;
    width: 100%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    align-items: end;
    width: max-content;
    height: 100%;
    transition: .5s;
    transform: translateX(0);
}

.item-img {
    min-width: 300px;
    height: 100%;
    /* background-color: aqua; */
    flex-shrink: 0;          /* ← запрет сжатия */
}

.img-1 {
    background-image: url('../images/main-slider/slide-1.jpg');
}

.img-2 {
    background-image: url('../images/main-slider/slide-2.jpg');
}

.img-3 {
    background-image: url('../images/main-slider/slide-3.jpg');
}

.img-4 {
    background-image: url('../images/main-slider/slide-4.jpg');
}

.img-5 {
    background-image: url('../images/main-slider/slide-5.jpg');
}

.img-6 {
    background-image: url('../images/main-slider/slide-2.jpg');
}

.img-7 {
    background-image: url('../images/main-slider/slide-1.jpg');
}

.img-8 {
    background-image: url('../images/main-slider/slide-3.jpg');
}

.img-9 {
    background-image: url('../images/main-slider/slide-4.jpg');
}
.img-10 {
    background-image: url('../images/main-slider/slide-10.jpg');
}
.img-11 {
    background-image: url('../images/main-slider/slide-11.jpg');
}
.img-12 {
    background-image: url('../images/main-slider/slide-12.jpg');
}
.img-13 {
    background-image: url('../images/main-slider/slide-13.jpg');
}
.img-14 {
    background-image: url('../images/main-slider/slide-14.jpg');
}
.img-15 {
    background-image: url('../images/main-slider/slide-15.jpg');
}
.img-16 {
    background-image: url('../images/main-slider/slide-16.jpg');
}
.img-17 {
    background-image: url('../images/main-slider/slide-17.jpg');
}
.img-18 {
    background-image: url('../images/main-slider/slide-18.jpg');
}
.img-19 {
    background-image: url('../images/main-slider/slide-19.jpg');
}
.img-20 {
    background-image: url('../images/main-slider/slide-20.jpg');
}
.img-21 {
    background-image: url('../images/main-slider/slide-21.jpg');
}

.img-22,
.img-10 {
    background-image: url('../images/main-slider/slide-6.jpg');
}

.ttts {
    width: 300px;
    height: 300px;
}

/********* ------ ***********/
/********* RATING ***********/
/********* ------ ***********/

.rating-container {
    height: 195px;
    border-left: solid 1px rgba(255, 255, 255, 0.7);
    margin-left: 108px;
    padding-top: 50px;
    /* background-color: #0045ff; */
    /* margin-bottom: 175px; */
}

.rating__title {
    display: flex;
    /* justify-content: start; */
    padding-left: 76px;
    margin-bottom: 35px;
}

.rating__title-item h3 {
    font-weight: 800;
    font-size: 40px;
    line-height: 175%;
    text-transform: uppercase;
    height: 100%;
}

.rating__title-item-transform {
    margin-left: 25px;
}

.rating__title-item-transform h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 53px;
    font-weight: 800;
    line-height: 120%;
    color: transparent;
    -webkit-text-stroke: 1px #8BD7FF;
    letter-spacing: 0%;
    font-family: sans-serif;
    height: 100%;
}

.rating__title-item {
}


.rating__subtitle {
    display: flex;
    margin-left: 21px;
}

.rating__subtitle-item {
    margin-left: 50px;
}



.rating__subtitle-item h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 120%;
    color: transparent;
    -webkit-text-stroke: 1px #00FFE1;
    letter-spacing: 0%;
    font-family: sans-serif;

}

.rating__subtitle-item a {
    text-decoration: none;
}

.rating__subtitle-item a:hover {
    text-decoration: underline;
}

.rating__subtitle-item a.inactive {
  pointer-events: none;             /* отключает клики */
  cursor: default;                  /* курсор по умолчанию */
  text-decoration: none;            /* убираем стандартное подчёркивание */
}

.rating__subtitle-item a.inactive h3 {
  color: transparent;               /* текст прозрачный */
  -webkit-text-stroke: 1px #8BD7FF; /* обводка нужного цвета */
  position: relative;
}

/* добавляем псевдоэлемент для зачёркивания */
.rating__subtitle-item a.inactive h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;                         /* по центру текста */
  height: 2px;                      /* толщина линии */
  background-color: #00B2FF;        /* цвет линии */
  transform: translateY(-50%);
}

.rating-footer {
    height: 175px;
    /* width: 100%; */
    border-left: solid 1px rgba(255, 255, 255, 0.7);
    margin-left: 108px;
}

/****** --------------********/
/****** TEST--SECTION ********/
/****** --------------********/

.test-container {
    margin-left: 108px;
    padding-left: 38px;
    border-left: solid 1px rgba(255, 255, 255, 0.7);
}

.test-container-item-1 {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #000; /* серая заливка */
    overflow: hidden;
    border: 2px solid yellow;
    border-bottom: #000;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: yellow;
    z-index: 1;
}

.triangle-1 {
  position: absolute;
  bottom: 2px; /* немного выше линии */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid yellow;
  z-index: 2;
}

.triangle-2 {
  position: absolute;
  bottom: -1px; /* немного выше линии */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid black;
  z-index: 2;
}