<div class="rating-container">
    <div class="rating__title rating__title-stock">
        <div class="rating__title-item"><h3>акции и предложения</h3></div>
        <div class="rating__title-item rating__title-item-transform"><h3>>_все акции</h3></div>
    </div>

    <div class="actions__cards-container">
        <a href="#"><div class="actions__cards-item actions__img-1"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-2"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-3"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-4"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-5"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-6"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-7"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-8"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-9"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-10"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-11"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-12"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-13"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-14"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-15"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-16"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-17"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-18"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-19"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-20"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-21"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-22"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-23"></div></a>
        <a href="#"><div class="actions__cards-item actions__img-24"></div></a>
    </div>

</div>